<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TemperCore.App.ProgramSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TemperCore.App.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TemperCore.App.ProgramSettings>
            <setting name="firstLoad" serializeAs="String">
                <value>False</value>
            </setting>
        </TemperCore.App.ProgramSettings>
        <TemperCore.App.settings>
            <setting name="firsttime" serializeAs="String">
                <value>True</value>
            </setting>
        </TemperCore.App.settings>
    </applicationSettings>
</configuration>